html,
body,
.wrap {
    height: 90%;
    padding: 0;
    margin: 0;
}
/* Assigned Font, alignment, color and font size to the body*/
body {
    font-family: 'Courgette', cursive;
    text-align: center;
    color: black;
    font-size: x-large;
    

}

.content-container {
    width: 100%;
}

.container-title {
    width: 100%;
   position: absolute;
   top: 10%;
}

.col-md-6 {
    width: 100%;
}
/* Gave properties to center for result */
#result {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
/* Stylied button to have it stand out and appear on screen in proper position */
.submit-btn {
    border: none;
    border-radius: 10px;
    box-shadow: black;
    position: absolute;
    left: 45%;
    top: 43%;
    text-align: center;
    padding: 4px;
    margin: 4px;
    border-style: double;
    color: black;
  text-shadow: 2px 2px 2px white;
}
/* Centering and styling text with a border */
.para {
    text-align: center;
    margin: 10px;
    padding: 10px;
    margin-bottom: 100px;
    border: none;
    border-radius: 10px;
    border-style: groove;
    color: black;
}

.footer {
    text-align: end;
}

/* Added background image to cover the webpage */
.body-background-img {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../Images/patrick-ryan-3kUIaB2EPp8-unsplash.jpg);
}

/* added media screen so it displays properly on phones/tablets/laptops*/
@media screen and (max-width: 768px) {
    main, .nav {
        flex-direction: column;
    }
    
}


