html,
body,
.wrap {
    height: 90%;
    padding: 0;
    margin: 0;
}

body {
    font-family: cursive;
    /* background color */
    text-align: center;
    color: black;
    font-size: x-large;

}

.content-container {
    width: 100%;
}

.container-title {
    width: 100%;
   position: absolute;
   top: 10%;
}

.col-md-6 {
    width: 100%;
}

#result {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.submit-btn {
    border: none;
    border-radius: 10px;
    box-shadow: black;
    position: absolute;
    left: 45%;
    top: 60%;
    text-align: center;
    padding: 4px;
    margin: 4px;
    border-style: double;
    color: black;
  text-shadow: 2px 2px 2px white;
}

.para {
    text-align: center;
    margin: 10px;
    padding: 10px;
    margin-bottom: 100px;
}

.footer {
    text-align: end;
}



